h1{
   color:green
   font-size:12px;
}
body{
    background-color:pink;
}
p{
   color:blue;
}
*{font-style:italic
{
body{
   width:960px;
   margin-left: auto;
   margin-right: auto;
}

                                                                                                                                                                  